apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent
  labels:
    app: agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent
  template:
    metadata:
      labels:
        app: agent
    spec:
      serviceAccountName: default
      containers:
      - name: agent
        image: agent:v1.1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: commander
  labels:
    app: commander
spec:
  replicas: 1
  selector:
    matchLabels:
      app: commander
  template:
    metadata:
      labels:
        app: commander
    spec:
      serviceAccountName: default
      containers:
      - name: commander
        image: commander:v1
        # imagePullPolicy: Never

---
apiVersion: v1
kind: Service
metadata:
  name: commander-service
spec:
  selector:
    app: commander
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
  type: ClusterIP

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: agent-default-admin
subjects:
- kind: ServiceAccount
  name: default
  namespace: default
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
